@import "../variables";

.form-control {
  background: $input-bg;

  border: 1px solid $input-border;

  &:focus {
    border-color: $input-focus-border;
    outline: 0;
    box-shadow: none;
    background: white;
  }
}

label {
  font-weight: bold;
  font-size: 1.1em;
}
